@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', serif;

  /* light */
  --color-text: hsl(212, 48%, 6%);
  --color-text-600: hsl(212, 48%, 40%);
  --color-background: hsl(206, 51%, 92%);
  --color-primary: hsl(213, 50%, 28%);
  --color-secondary: hsl(248, 50%, 69%);
  --color-accent: hsl(262, 50%, 47%);

  /* dark */
  /* --color-text: hsl(210, 50%, 94%);
  --color-text-600: hsl(210, 50%, 40%);
  --color-background: hsl(207, 50%, 8%);
  --color-primary: hsl(213, 50%, 72%);
  --color-secondary: hsl(248, 50%, 31%);
  --color-accent: hsl(262, 50%, 53%); */
}

progress {
  border-radius: 5rem;
  width: 100%;
  margin: 0 auto;
}

progress::-webkit-progress-bar {
  background-color: hsl(206, 51%, 82%);

  border-radius: 5rem;
}
progress::-webkit-progress-value {
  background-color: hsl(212, 48%, 40%);
  border-radius: 5rem;
  transition: all 0.5s ease-in-out;
}
progress::-moz-progress-bar {
  background-color: hsl(212, 48%, 40%);
  border-radius: 5rem;
  transition: all 0.4s ease-in-out;
}
